extends layout
block content
  h1= title
  - let icecreamid = toShow._id
  - let icecreamcone = toShow.cone
  - let icecreamflavour = toShow.flavour
  - let icecreamnumOfScoops = toShow.numOfScoops
  div
    div.row
      div(class='icecreamAttr mr-3') Icecream ID is:
      div #{icecreamid}
    div.row
      div(class='icecreamAttr mr-3') Icecream Type is:
      div #{icecream_type}
    div.row
      div(class='icecreamAttr mr-3') Icecream Size is:
      div #{icecreamsize}
    div.row
      div(class='icecreamAttr mr-3') Icecream Cost is:
      div #{icecreamcost}