extends layout
block content
  h1= title

  - let icecreamid = toShow._id
  - let icecreamcone = toShow.cone
  - let icecreamflavour = toShow.flavour
  - let icecreamnumOfScoops = toShow.numOfScoops
  div
    br
    div.row
      div(id="extraLabel" class='icecreamAttr mr-3') Icecream ID is:
      div(id="extraContent") #{icecreamid}
      br
    div.row
      div(id="extraLabel" class='icecreamAttr mr-3') Icecream Type is:
      div(id="extraContent") #{icecreamcone}
      br
    div.row
      div(id="extraLabel" class='icecreamAttr mr-3') Icecream Size is:
      div(id="extraContent") #{icecreamflavour}
      br
    div.row
      div(id="extraLabel" class='icecreamAttr mr-3') Icecream Cost is:
      div(id="extraContent") #{icecreamnumOfScoops}