extends layout

block content
	h1= title
	- let result = results
	div(class='container-fluid')
		div(class='row')
			//- - let item_num =0;
			each items in result
				-let item_des = `Cone: ${items['cone']}Flavour: ${items['flavour']} \n Num of Scoops: ${items['numOfScoops']}`
				//- each val, key in items
				//- 	- item_des= `${item_des} ${key}: ${val}`
				div(class='col-sm-2' type="button" onclick='buy()') #{item_des}
				//- - item_num = item_num+1;
	br
	script.
		function buy(){
			alert(`You purchased an item`)
		}
